#backup
backup.html
./IaC/.terraform
*.terraform
*.terraform.lock.hcl
*.hcl
*.conf
*.db
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
*.tfout
*.tfenv
*.terraformrc
*.terraformignore    
./IaC/
*.pem
*.ppk
web-tf-key.pem
